<html>

<head>
    <title>Login </title>
    <link rel="stylesheet" href="/static/global.css" />
</head>

<body>
    <header>
        <h1 class="nav-heading">Welcome to Quiz </h1>
    </header>
    <main class="flex-center size-screen">
        <form action="/login" method="post" class="login-box">
            <div>
                <label for="name">name </label>
                <input class="textbox" type="text" name="user" placeholder="Param" />
            </div>
            <input type="submit" value="Start" />
        </form>
    </main>
</body>

</html>