.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-heading {
  text-align: center;
}

.size-screen {
  height: 100vh;
  width: 100vw;
}

.login-box {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.textbox {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

input[type="text"].textbox {
  border: none;
  stroke: none;
  outline: none;
}

.flex-col {
  flex-direction: column;
}
